<?xml version="1.0" encoding="UTF-8"?>
<beans:beans
	xmlns="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">
	<http auto-config="true">
		<csrf disabled="true" />
		<intercept-url pattern="/admin/**" access="hasRole('VAITRO_ADMIN')" />
		<intercept-url pattern="/user/**" access="hasRole('VAITRO_ADMIN') or hasRole('VAITRO_USER')" />
		<form-login login-page="/loginRegister"
			login-processing-url="/DangNhap"
			default-target-url="/user/user" authentication-failure-url="/loginRegister?error" username-parameter="TaiKhoan"
			password-parameter="MatKhau" />
		<logout logout-url="/DangXuat"
			logout-success-url="/logout" delete-cookies="dsvsdxv" />
	</http>

	<authentication-manager>
    <authentication-provider user-service-ref="thongTinUser">
        <password-encoder ref="passwordEncoder" />
    </authentication-provider>
</authentication-manager>
</beans:beans>